/* ***********************REGOLE GENERALI********************** */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ************REGOLE MAIN***************** */
main{
    width: 70%;
    margin: 0 auto;
    padding: 50px;
    color: white;
}

.flex_cont{
   display: flex;
   height: 600px;
}

#img_big{
    position: relative;
    text-align: right;
    width: 80%;
   
    
}

.cont{
    position: relative;
    text-align: right;
    width: 100%;
    height: 100%;
}
#thumb{
    width: 20%;
    position: relative;
    
}

.row{
    height: 20%;
    cursor: pointer;
   
}

#text{
    position: absolute;
    padding: 10px;
    bottom: 20px;
    right: 20px;
    font-size: 20px;
}

#text h2{
    margin-bottom: 40px;
    font-size: 50px;
}

.none{
    display: none;
}

/* ***********REGOLE THUMB****************** */

.fa-solid{
    background-color: black;
    color: white;
    font-size: 25px;
    margin-left: 45%;
    cursor: pointer;
    
}

.fa-circle-arrow-down{
    position: absolute;
    bottom: 10px;
}

.fa-circle-arrow-up{
    position: absolute;
    top: 10px;

}

.border{
    border: 5px solid white;
    border-radius: 2px;
}