/* ***********************REGOLE GENERALI********************** */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

/* ************REGOLE MAIN***************** */
main{
    width: 80%;
    margin: 0 auto;
    padding: 50px;
}

.flex_cont{
   display: flex;
   /* debug */
   background-color: blueviolet;
   min-height: 500px;
}

#img_big{
    width: 80%;
    /* dubug */
    border: 1px solid black;
}

#thumb{
    width: 20%;
    /* dubug */
    border: 1px solid black;
}

.row{
    height: 20%;
    cursor: pointer;
    /* debug */
    border: 1px solid black;
}

/* ***********REGOLE THUMB****************** */

.fa-solid{
    color: white;
    font-size: 25px;
    margin-left: 45%;
    cursor: pointer;
    
}

.fa-circle-arrow-down{
    margin-top: 60px;
}

.fa-circle-arrow-up{
    margin-top: 10px;

}